/* #e9e9e9 */

.section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.title {
    height: 75px;
    border-right: 2px solid #e9e9e9;
    display: flex;
    align-items: center;
    padding-right: 20px;
}

.title p {
    color: #e9e9e9;
    font-weight: bolder;
    text-transform: uppercase;
    font-size: 15px;
}

.partners {
    display: flex;
    align-items: center;
}

.image {
    z-index: 0;
}